<div class="container">
  <p [hidden]="!errorMessage">{{ errorMessage }}</p>
</div>

<div class="container" [hidden]="started">
  <h1>{{ test.name }}</h1>
  <form (ngSubmit)="loadTest()" #difficultyForm="ngForm">

    <div class="form-group">
      <label for="difficulty">Test Difficulty</label>
      <select class="form-control" required
        [(ngModel)]="difficulty"
          ngControl="difficulty" #diff="ngForm" >
        <option *ngFor="#d of difficulties" [value]="d">{{d}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success btn-large">Start test</button>
  </form>
</div>


<div class="container" [hidden]="!started || completed">
  <p>Question #{{ givenQuestions }}</p>
  <p>Seconds left: {{10 - secondsPassed}}</p>
  <div class="form-group">
    <label for="currentAnswer">{{ currentQuestion.question }}</label>
    <input class="form-control"
      [(ngModel)]="currentAnswer"
      (keypress)="($event.keyCode === 13) ? loadNextQuestion() : 0">
  </div>
  <button class="btn btn-primary btn-large"
    (click)="loadNextQuestion()">Next</button>
</div>

<div class="container" [hidden]="!completed">
  <h2>SCORE: {{ points }}</h2>
  <div *ngFor="#q of test.questions, #i = index">
    <h3>Question #{{i+1}}</h3>
    <h4>Question: {{q.question}}</h4>
    <p>Answer: {{q.givenAnswer}}</p>
    <p>Time for answer: {{q.timeForAnswerUser}}</p>
  </div>
</div>
