<div class="container">
  <p [hidden]="!errorMessage">{{ errorMessage }}</p>
</div>

<div class="container" [hidden]="started">
  <h1 class="text-capitalize">{{ test.name }}</h1>
  <form (ngSubmit)="loadTest()" #difficultyForm="ngForm">

    <div class="form-group">
      <label for="difficulty">Choose test difficulty:</label>
      <select class="form-control" required
        [(ngModel)]="difficulty"
          ngControl="difficulty" #diff="ngForm" >
        <option *ngFor="#d of difficulties" [value]="d">{{d}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success btn-lg text-center">Start test</button>
    <button [routerLink]="['Tests']" class="btn btn-primary btn-lg">Return to tests</button>
  </form>
</div>


<div class="container" [hidden]="!started || completed">
  <h3 class="col-xs-5 text-left">Question #{{ givenQuestions }}</h3>
  <h3 class="col-xs-5 col-xs-offset-2 text-right">Time left: 
    <strong>{{10 - secondsPassed}}</strong>
    seconds
  </h3>
  <div class="form-group">
    <h2>{{ currentQuestion.question }}</h2>
    <input autofocus class="form-control input-lg"
      [(ngModel)]="currentAnswer"
      (keypress)="($event.keyCode === 13) ? loadNextQuestion() : 0">
  </div>
  <button class="btn btn-primary btn-large"
    (click)="loadNextQuestion()">Next</button>
</div>

<div class="container" [hidden]="!completed">
  <h1>Well, well, you have scored {{ points }} pts.</h1>
  <div *ngFor="#q of test.questions, #i = index"
  [ngClass]="{'bg-danger': q.givenAnswer != q.answer, 'bg-success': q.givenAnswer == q.answer}">
    <div class="container">
      <h3>Q#{{i+1}}. {{q.question}}</h3>
      <div [hidden]="q.givenAnswer == q.answer">
        <p>Correct answer: {{q.answer}}</p>
        <p>Your answer: {{q.givenAnswer}}</p>
      </div>
      <div [hidden]="q.givenAnswer != q.answer">
        <p>Answer: {{q.answer}}</p>
      </div>
      <p>Time for answer: {{q.timeForAnswerUser}}</p>
    </div>
    <hr>
  </div>
  <button class="btn btn-lg btn-primary"
  [routerLink]="['Highscores', {testName: test.name}]">View the Highscores</button>
</div>